// Возможные аугментации из augraphy
//
// LightingGradient - x y direction max_br min_br mode p
// (x, y) - pos может быть -1 для случайной
// direction - угол поворота в градусах
// max_br min_br - максимальная и минимальная интенсивность соответственно
// mode - linear or gaussian отражает как интенсивность убывает от центра
// p - веротность применения этой аугментации
//
// ReflectedLight - x y minor_major_ratio max_br min_br p
// (x, y) - pos может быть -1 для случайной
// minor_major_ratio - отношение минора к мажору элипса
// max_br min_br - максимальная и минимальная интенсивность соответственно
// p - веротность применения этой аугментации
//
// TBC...

light
LightingGradient -1 -1 0 255 0 gaussian 1.0

ligtht_rot
LightingGradient -1 -1 30 255 0 gaussian 1.0

reflection
ReflectedLight -1 -1 1 255 0 1

reflections_other
ReflectedLight -1 -1 0.5 200 100 0.5
ReflectedLight -1 -1 0.5 200 100 0.5
ReflectedLight -1 -1 0.5 200 100 0.5
ReflectedLight -1 -1 0.5 200 100 0.5

all_in_one
ReflectedLight -1 -1 0.5 200 100 0.5
ReflectedLight -1 -1 0.5 200 100 0.5
LightingGradient -1 -1 0 255 0 gaussian 1.0
LightingGradient -1 -1 0 255 0 gaussian 1.0