// Line - r_x, r_y, density, black, intensivity, start, end, horizontal, use_memory
// Blob - r_x, r_y, density, black, intensivity, point_x, point_y, radius_a, radius_b, use_memory
// Sin - r_x, r_y, density, black, intensivity, start, shift, amplitude, period, horizontal ,use_memory
// first - название
// Далее 3 строчки - описание операции first, далее пустая строка, и следующая операция. В конце 2 пустые строки.
first
Line 0 0 80 1 1 0 40 1
Line 0 0 90 1 1 0 20 0
Line 300 0 50 1 0.5 100 130 1

second
Line 0 0 90 1 0.8 0 200 1
Blob 200 0 80 1 0.4 30 40 20 50

third
Line 100 0 30 1 0.7 0 80 1
Line 300 0 70 1 0.5 20 60 1
Sin 0 0 40 1 0.9 -50 0 300 0.1 0

